.home {
  flex: 1;
  padding: 3rem 2rem;
  h1 {
    font-size: 24px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #209cee;
    color: #209cee;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 1.5rem;
  }
  h2 {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
  }
  .recipeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 0;
    .recipe {
      width: calc(50% - 1rem);
      border-radius: 20px;
      border: 1px solid #9c9b9d;
      overflow: hidden;
      padding-bottom: 10px;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      h3,
      p {
        text-align: left;
      }
      h3,
      p {
        padding: 0 10px;
      }
      h3 {
        font-weight: 600;
        margin-top: 8px;
      }
      a {
        width: 90%;
        padding: 8px 10px;
        background-color: #209cee;
        color: white;
        display: block;
        margin: 10px auto 0;
        border-radius: 8px;
        text-align: center;
      }
    }
  }
}
