.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  .form {
    display: flex;
    gap: 10px;
    input,
    button {
      display: block;
    }
    input {
      background-color: transparent;
      color: #8e8e8e;
      border: 1px solid #8e8e8e;
      border-radius: 8px;
      padding: 1rem;
    }
    button {
      background-color: #209cee;
      color: white;
      text-transform: uppercase;
    }
  }
}
