#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

* {
  box-sizing: border-box;
}

.navigation-display {
  width: 100%;
  display: flex;
  align-items: start;
  .content-size {
    flex: 1;
  }
}
